/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 5px;
}

section {
    margin: 50px;
}
#education {
    min-height: 150px; /* Adjust the value based on your content */
}
#education {
    margin-bottom: 10px; /* Adjust as needed */
}
#employment {
    margin-top: 10px; /* Adjust as needed */
}

.person-container img {
    max-width: 20%; /* Set the maximum width to 100% of its container */
    height: auto; /* Maintain the aspect ratio */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
